* {
    margin: 0px;
    padding: 0px;
    color: white;
}

/* - Palette de couleurs : #C49E67, #F2E8D5, #7A5C37, #3A2F1B */
body {
    background-color: black;
}

.body-1 {
    width: 100%;
    height: 100vh;
}

.imageArrierePlan {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url('/images/imagesAccueil/boulangerieArrierePlan.jpg');
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.body-1 h1 {
    color: #ffdaa7;
    font-size: 200px;
    font-family: 'Great Vibes', cursive;
}

.body-1 p {
    color: white;
    font-size: 45px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.body-1 a {
    font-size: 25px;
    padding: 15px 40px 15px 40px;
    background-color: white;
    border-radius: 10px;
    color: #3A2F1B;
    text-decoration: none;
    border: 13px double #ffdaa700;
    font-weight: 500;
    transition: all 0.2s ease;
}

.body-1 a:hover {
    border: 13px double #ffdaa7;
}

.body-2 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.body-2 h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    color: #3A2F1B;
}

.body-2-grand-mere {
    width: 80%;
    height: 90%;
    background-color: #fff4e3;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.body-2-mere {
    width: 85%;
    height: 80%;
    background-color: #3A2F1B;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.body-2-fille {
    background-color: white;
    width: 25%;
    height: 90%;
    border-radius: 70px;
}

.body-2-fille:nth-of-type(1) {
    background-image: url('/images/imagesAccueil/galetteDesRois.jpg');
    background-position: center;
    background-size: cover;
}
.body-2-fille:nth-of-type(2) {
    background-image: url('/images/imagesAccueil/bucheDeNoel.jpg');
    background-position: center;
    background-size: cover;
}
.body-2-fille:nth-of-type(3) {
    background-image: url('/images/imagesAccueil/brioche.jpg');
    background-size: cover;
    background-position: center;
}