@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* - Palette de couleurs : #C49E67, #F2E8D5, #7A5C37, #3A2F1B */
body {
    background-color: black;
}

.body-1 {
    width: 100%;
    height: 100vh;
}

.imageArrierePlan {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url('/images/imagesAccueil/boulangerieArrierePlan.jpg');
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.body-1 h1 {
    color: #ffdaa7;
    font-size: 200px;
    font-family: 'Great Vibes', cursive;
}

.body-1 p {
    color: white;
    font-size: 45px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.body-1 a {
    font-size: 25px;
    padding: 15px 40px 15px 40px;
    background-color: white;
    border-radius: 10px;
    color: #3A2F1B;
    text-decoration: none;
    border: 13px double #ffdaa700;
    font-weight: 500;
    transition: all 0.2s ease;
}

.body-1 a:hover {
    border: 13px double #ffdaa7;
}

.body-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    padding-bottom: 40px;
    border-bottom: solid 2px white;
}

.body-2 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    color: #3A2F1B;
}

.body-2-grand-mere {
    width: 80%;
    height: 90%;
    background-color: #fff4e3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body-2-mere {
    width: 85%;
    height: 80%;
    background-color: #3A2F1B;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-2-fille {
    background-color: white;
    width: 25%;
    height: 90%;
    border-radius: 70px;
    background-position: center;
    background-size: cover;
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.body-2-fille p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1vw;
}

.body-2-fille h3 {
    margin-left: 10px;
    font-size: 2vw;
    margin-right: 10px;
    text-align: center;
}

.body-2-fille a {
    font-size: 1vw;
    text-align: center;
    background-color: #3A2F1B;
    color: #fff4e3;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #fff4e3;
    transition: all 0.2s ease;
}

.body-2-fille a:hover {
    border: 2px solid #3A2F1B;
    color: #3A2F1B;
    text-decoration: 1px underline #3A2F1B;
    background-color: #fff4e3;
}

.body-2-fille:nth-of-type(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/galetteDesRois.jpg');
}

.body-2-fille:nth-of-type(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/bucheDeNoel.jpg');
}

.body-2-fille:nth-of-type(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/brioche.jpg');
}

.body-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: solid 2px #ffdaa7;
}

.body-3-grand-mere {
    width: 80%;
    height: 90%;
    background-color: #fff4e3;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes */
    grid-template-rows: repeat(2, 1fr);
    /* 2 lignes */
    justify-items: center;
    align-items: center;
}

.body-3-mere {
    width: 95%;
    height: 95%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.body-3-mere:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/brioche.jpg');
    border-top-left-radius: 20px;
}

.body-3-mere:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/brioche.jpg');
    border-top-right-radius: 20px;
}

.body-3-mere:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/brioche.jpg');
    border-bottom-left-radius: 20px;
}

.body-3-mere:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/imagesAccueil/brioche.jpg');
    border-bottom-right-radius: 20px;
}
.body-3-mere a {
    font-size: 1vw;
    text-align: center;
    background-color: #3A2F1B;
    color: #fff4e3;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #fff4e3;
    transition: all 0.2s ease;
}

.body-3-mere a:hover {
    border: 2px solid #3A2F1B;
    color: #3A2F1B;
    text-decoration: 1px underline #3A2F1B;
    background-color: #fff4e3;
}
.body-3-mere p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1vw;
    text-align: justify;
}

.body-3-mere h3 {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 2vw;
}