* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.body-1 {
    width: 100%;
    height: 100vh;
    margin-top: 12.5vh;
}
.imageArrierePlan {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url('/images/imagesAccueil/boulangerieArrierePlan.jpg');
    display: flex;
    background-size: cover;

    align-items: center;
    flex-direction: column;
    gap: 50px;
}