* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.body-1 {
    width: 100%;
    height: 87.5vh;
    margin-top: 12.5vh;
}

.imageArrierePlan {
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url('/images/imagesAccueil/boulangerieArrierePlan.jpg');
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.body-1-mere {
    width: 50%;
    height: 90%;
    background-color: #fff1b9;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

.body-1-mere h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 5vw;
    color: #3A2F1B;
}

.body-1-fille {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
}
.body-1-fille button{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #3A2F1B;
    padding: 10px 5px 10px 5px;
    color: #3A2F1B;
    transition: 0.2s all;
}
.body-1-fille button:hover{
    background-color: #3A2F1B;
    border-radius: 10px;
    border: 2px solid #fff1b9;
    padding: 10px 5px 10px 5px;
    color: #fff1b9;
}
input {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #3A2F1B;
    width: 50%;
}
label {
    color: #3A2F1B;
}