.header{
    width: 100%;
    height: 12.5vh;
    background-color: #fff1b9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 3px solid white;
}
.left-header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: auto;
}
.left-header p{
    color: #3A2F1B;
}
.mid-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 1.5vw;  
    width: 30%;
}
.mid-header a{
    text-decoration: none;
    transition: 0.2s all;
    color: #3A2F1B;
}
.mid-header a:hover{
    text-decoration: none;
    scale: 1.1;
    text-decoration: 2px underline #3A2F1B;
}
.right-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%; 
    color: white;
}
.right-header a{
    font-size: 1.5vw;
    text-decoration: none;
    background-color: #3A2F1B;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    transition: 0.2s;
}
.right-header a:hover{
    background-color: white;
    border: 2px solid #3A2F1B;
    color: #3A2F1B;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}